<!DOCTYPE html>
<html>
<head>
    <title>입력결과</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>
<h1>입력결과</h1>

<BR><BR>
<p> 입력이름 : [<%= name %>]</p>
<BR><BR>
<p> 입력전화번호 : [<%= tel_num %>]</p>
<BR><BR>
<p> 선택전화 : [<%= phone %>]</p>
</body>
</html>
