<!DOCTYPE html>
<html>
<head>
    <title>조회결과</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>
<h1>조회결과</h1>

<BR><BR>
<p> 사용자ID : [<%= userID %>]</p>
<BR><BR>
<p> 사용자이름 : [<%= userName %>]</p>
<BR><BR>
<p> 주소 : [<%= userAddress %>]</p>

<input type="text", name = "userid">
<input type="button", title="조회">
</body>
</html>
